name: Build

on:
  push:
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Install depends
        if: false
        run: apt install build-essential cmake

      - name: Install depends
        run: ./build-scripts/install_depends.sh

      - name: check depends
        run: |
          ls $HOME/.local/
          ls $HOME/.local/*/
